* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    font-family: sans-serif;
}

header {
    display: flex;
    background-color: black;
    color: white;
    margin-left: 5px;
}

h1 {
    text-align: center;
    margin-top: 5px;
}

p {
    margin-top: 10px;
}

#azul {
    color: blue;
}

#gris {
    color: gray;
}

#rosa {
    color: fuchsia;
}

.create {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    margin: 25px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s ease-in;
}

.create h2 {
    align-content: flex-start;
    margin-left: 5px;
}

.create p {
    justify-content: center;
    margin: 5px;
}

.create:hover {
    background-color: rgba(0, 0, 255, 0.502);
    color: black;
    
}

.read {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    margin: 25px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s ease-in;
}

.read:hover {
    background-color: rgb(117, 201, 117);
    
}

.update {
    display: flex;
    flex-direction: column;
    border: 1px solid fuchsia;
    margin: 25px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s ease-in;
}

.update:hover {
    background-color: rgb(209, 160, 234);
    
}

.delete {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin: 25px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s ease-in;
}

.delete:hover {
    background-color: rgb(236, 46, 84);
}

.logica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 45px;
    transition: 0.5s ease-in;
}

.logica p {
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, red, blue, green);
    -webkit-background-clip: text;
    color: transparent;
}

.logica:hover {
    background-color: black;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: end;
}

.titulo h1 {
    padding-left: 550%;
    padding: 5px;
}

nav {
    display: flex;
    min-height: 10vh;
    background-color: gray;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}

.banner img {
    float: left;
    width: 300px;
    padding: 0 30px;
    margin: 15px;
}

main p{
    
    align-content: center;
    letter-spacing: 1px;
}

main .text {
    align-content: center;
    letter-spacing: 1;
    margin: 10px;
}

.banner2 img {
    float: right;
    width: 300px;
    padding: 0 30px;
}

.clear {
    clear: both;
}

.label {
    display: flex;
    margin: 25px;
}

fieldset {
    padding: 20px;
}

input {
    margin: 5px;
}

.cuadro {
    display: flex;
    min-height: 10vh;
    background-color: gray;
    margin: 5px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.modelo {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    padding: 20px;
    background-color: black;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 25px;
    margin: 5px;
}


