* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: kratos;
    src: url(font/GODOFWAR.TTF);
}

html {
    font-family: kratos;   
}

body {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    background-image: url(images/proyecto1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav .cajas {
    background-color: rgb(38, 26, 207, 0.4);
    min-height: 15vh;
    display: flex;
    column-gap: 20px;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

nav .cajas .box {
    background-color: aliceblue;
    width: 18%;
}

header .header {
    display: flex;
    min-height: 35vh;
    gap: 20px;
}

header .header .banner {
    background-color: blueviolet;
    flex: 70%;
}

header .header .tres {
    background-color: blue;
    flex: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

header .tres .logo {
background-color: green;
}
header .tres .login {
    background-color: white;
    }

 header .tres .form {
        background-color: red;
     }

     .main {
        display: flex;
        background-color: rgb(236, 206, 40, 0.4);
        gap: 20px;
        min-height: 70vh;
        padding: 20px;
     }

     .main .left {
        flex: 20%;
        background-color: rgb(16, 12, 36, 0.4);
     }

     .main .mitad {
        flex: 50%;
        background-color: rgb(16, 12, 36, 0.4);
     }

     .main .right {
        flex: 30%;
        background-color: rgb(16, 12, 36, 0.4);
     }

     footer {
        background-color: rgb(0, 0, 0, 0.4);
        min-height: 15vh;
        color: whitesmoke;
        text-align: center;
        padding: 20px 0;
     }

     footer img {
        box-shadow: 1px 3px 3px wheat;
        border-radius: 50%;
     }